
.timeline{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 9px;
    left: 0;  
    right: 0;
    height: 2px;
    background-color: $gray-1;
  }
  &.active-step2{
    &::after{
      background-image: linear-gradient(90deg, $primary 50%, transparent 50%);
    }
  }
  &.active-step3{
    &::after{
      background-color: $primary;
    }
  }
  &-pointer{
    position: relative;
    color: $gray-1;
    &::before{
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid $gray-1;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $dark;
      text-align: center;
      vertical-align: middle;
      font-family: "Azeret Mono", monospace;
      font-size: 12px;
    }
    &.step1{
      &::before{
        content:"1";
      }
    }
    &.step2{
      &::before{
        content:"2";
      }
    }
    &.step3{
      &::before{
        content:"3";
      }
    }
    &.active{
      color: $primary;
      &::before{
        background-color: $primary;
        color: #fff;
      }
    }
    &.checked{
      &::before{
        content: "\e876";
        font-family: 'Material Icons';
      }
    }
  }
}
