
.header-space{
  margin-top: 72px;
  @include media-breakpoint-up (md){
    margin-top: 90px;
  }
}

.cube{
  &-10{
    width: 10px;
    height: 10px;
  }
  &-32{
    width: 32px;
    height: 32px;
    transition: border-color .1s;
  }
}

// section title decor
.decor-line{
  &::after{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: $primary;
    margin: 0 auto;
    margin-top: 16px;
  }
}

.left-decor-line{
  &::before{
    content: "";
    display: block;
    width: 3px;
    background-color: $primary;
    margin-right: 8px;
    flex-shrink: 0;
  }
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  &-sm{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    @include media-breakpoint-up(lg){
      width: 100px;
      height: 100px;
    }
  }
}

.btn-gradient-x{
  background-image: $gradient-x;
  &:hover{
    box-shadow: 0 0 15px $primary;
  }
}

.btn-outline-white{
  &--active{
    color: $primary;
    border-color: $primary;
    background-color: transparent;
  }
  &:hover{
    color: $primary;
    border-color: $primary;
    background-color: transparent;
  }
  &:active{
    color: $primary;
    border-color: $primary;
    background-color: transparent;
  }
}

.menu{
  &-list{
    padding: 2.5rem 1.5rem 1.5rem;
  }
  &-text{
    color: $white;
  }
  &-link{
    text-decoration: none;
    color: $white;
    padding-bottom: 1rem;
  }
  &-item{
    margin-bottom: 1rem;
    border-bottom: 1px solid $gray-1;
    &:last-child{
      margin-bottom: 0;
      border-bottom: 0;
    }
    &:hover{
      .menu-text{
        color: $primary;
      }
    }
  }
  &-btn{
    width: 32px;
    height: 32px;
  }
}

